
.text-gray-100 {
  color: #f7fafc;
}

.bg-black {
  background-color: #000;
}

.text-gray-400 {
  color: #cbd5e0;
}

.text-blue-600 {
  color: #3182ce;
}

.text-blue-700 {
  color: #2b6cb0;
}

.bg-blue-700 {
  background-color: #2b6cb0;
}

.hover\:bg-blue-800:hover {
  background-color: #2c5282;
}

.hover\:text-blue-600:hover {
  color: #3182ce;
}

.hover\:underline:hover {
  text-decoration: underline;
}
